@tailwind base;
@tailwind components;
@tailwind utilities;

.activeStep{
    background-color: white;
    color:black;
}
.buttonAction{
    transform:translateX(20px);
}
.step2PlanSelected{
    border:1px solid hsl(263, 97%, 35%);
    background-color: hsla(263, 97%, 35%, 0.038);

}
